<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>Integreat - Gemeindeverzeichnis</title>
</head>
<body>
    <h1 class="text-center mt-5">Digitalfabrik / Integreat Gemeindeverzeichnis</h1>
    <div class="container d-flex justify-content-center align-self-center" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row justify-content-center align-self-center" style="width:100%; max-width: 600px;">
            <div class="input-group mb-3">
                <input id="searchtext" type="text" class="form-control" placeholder="PLZ oder Ort" aria-label="PLZ oder Ort" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="searchbutton" class="btn btn-primary" type="button">Suche</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex">
        <div class="row justify-content-center align-self-center" style="width:100%;">
            <div id="result" style="width:100%; max-width:600px;"></div>
        </div>
    </div>
    <div class="container d-flex" style="margin-top:50px; margin-bottom:50px;">
        <div class="row justify-content-center align-self-center" style="width:100%;">
            <div class="col col-md-2 text-center"><a href="https://integreat-app.de/Impressum">Impressum</a></div><div class="col col-md-2 text-center"><a href="https://github.com/Integreat/gemeindeverzeichnis-django">Github</a></div>
        </div>
    </div>
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>
</html>
